h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Body */

body {
  padding: 5rem;
  font-size: 1.8rem;
  text-align: center;
}

#div1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1.2rem;
}

#center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1.25rem;
}

#headers {
  display: flex;
  flex-flow: row wrap;
  /* border: 2px solid cyan; */
  justify-content: space-around;
  align-items: center;
}

.jobGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  /* border: 2px solid rgb(12, 222, 19); */
}

.topRow {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  width: fit-content;
  justify-content: center;
}

.jobTitleGrid {
  grid-area: 2 / 1 / 3 / 4;
  /* color: rgb(25, 218, 228); */
  /* border: 2px solid rgb(197, 19, 161); */
  justify-content: space-evenly;
  justify-items: left;
}

.mM {
  grid-area: 3 / 1 / 4/ 2;
  /* padding: 1%; */
  /* border: 2px solid salmon; */
}
.PK {
  grid-area: 3 / 2 / 4 / 3;
  /* padding: 1%; */
  /* border: 2px solid yellow; */
}
.mV {
  grid-area: 3 / 3 / 4 / 4;
  /* padding: 1%; */
  /* border: 2px solid black; */
}
