*{
    background-color: rgb(114, 3, 3)
}

#intro 
{ 
    color: black;
    display: inline-block;
    border: 3px dotted black;
    margin-left:50%;
    margin-right:50%;
    padding:2px

}

#div1
 {
    color: green

    
 }