h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* nav bar */
nav {
  background-color: black;
  height: 5rem;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

/* hyperlinks */
#portfolio {
  color: white;
  font-size: 20px;
}

#Home {
  color: white;
  font-size: 20px;
  padding-left: 12px;
}

/* Body */

body {
  background-color: rgb(8, 61, 8);
  color: whitesmoke;
  padding: 5rem;
}

#div1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
}

#center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
}

/* Section */

/* 1st p */
