*{
    background-color: rgb(114, 3, 3)
}

h3 {color:rgb(153, 133, 66)}

p {color: rgb(2, 16, 78);
    font-size: 22px;
}




#intro 
{ 
    color: rgb(153, 133, 66);
    display: block;
    border: 3px dotted black;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    padding:2px;
    text-align: center;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    height: 200px;

}
span {color: rgb(8, 21, 78);
    font-size: 22px;
} 


